@media  screen and (max-width:916px) {
    .contact{
        width: 85%!important;
    }
}
@media  screen and (max-width:916px) and  (orientation:portrait) {
    .contact-main-heading-h1{
        font-size: 5vh!important;
    }
    .contact-heading{
        font-size: 3vh!important;
    }
    .contact-main-headSub{
        font-size: 2vh!important;
    }
    .contact-item{
        font-size: 2vh!important;
    }
}
@media  screen and (max-width:916px) and (orientation:landscape) {
    .contact-main-heading-h1{
        font-size: 5vw!important;
    }
    .contact-heading{
        font-size: 3vw!important;
    }
    .contact-main-headSub{
        font-size: 2vw!important;
    }
    .contact-item{
        font-size: 2vw!important;
    }
}
.contact-section{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
.contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact-main-heading{
    font-size: xxx-large;
    font-weight: bold;
}
.contact-main-heading-h1{
    margin-bottom: 1vh;
    margin-top: 1vh;

}
.contact-main-headSub{
    font-size: x-large;
    font-weight: bold;
    color: rgb(87, 85, 85);
    margin-bottom: 5vh;
}
.contact-main-body{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 78vw;
    height: 64vh;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 2vh;
    padding: 2vh 2vw;
    padding-top: 0px;
    margin-top: 1vh;
}
.contact-heading{
    font-size: x-large;
    font-weight: bold;
    margin: 1vh 1vw;
    margin-bottom: 3vh;
}
.contact-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: larger;
    margin: 1vh 2vw;
    transition: 0.3s;
}
.contact-item-logo{
    font-size: 8vh;
    transition: 0.3s;
    /* height: 10vh;
    width: 10vw; */
}
.insta:hover>.contact-item-logo{
    color: brown;
}
.wp:hover>.contact-item-logo{
    color: green;
}
.telegram:hover>.contact-item-logo{
    color: rgb(69, 110, 221);
}
.linkedin:hover>.contact-item-logo{
    color: rgb(3, 33, 117);
}
.mail:hover>.contact-item-logo{
    color: darkgoldenrod;
}
.contact-item:hover>.contact-item-logo{
    font-size: 10vh;
}
.contact-item:hover{
    font-weight: bold;
}
