@media  screen and (max-width:916px) {
    .skills{
        width: 70vw!important;
    }
}
@media  screen and (max-width:916px) and  (orientation:portrait) {
    .main-skills-heading{
        font-size: 4vh!important;
    }
    .skills-heading{
        font-size: 2vh!important;
    }
    .skills-item{
        font-size: 1.5vh!important;
    }
}
@media  screen and (max-width:916px) and (orientation:landscape) {
    .main-skills-heading{
        font-size: 4vw!important;
    }
    .skills-heading{
        font-size: 2vw!important;
    }
    .skills-item{
        font-size: 1.5vw!important;
    }
}
.skills-section{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-skills{
    display: flex;
    flex-direction: column;
    width: 78vw;
}
.main-skills-heading{
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 1vh;
}
.deriv-skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 78vh;
    overflow-y: scroll;
}
.skills{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: fit-content;
    border-radius: 2vh;
    border: 2px solid black;
    flex-wrap: wrap;
    margin-top: 1vh;
}
.skills-heading{
    font-size: x-large;
    margin: 1vh 1vw;
    margin-bottom: 4vh;
    font-weight: bold;
}
.skills-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.skills-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    margin: 3vh 3vw;
}
.skills-img{
    height: 10vh;
    width: 10vh;
}


