@media  screen and (max-width:916px) {
    
    .resume-btn{
        border: 2px solid black!important;
    }

    .toggle-mode-btn{
        width: 20px!important;
        font-size: 15px!important;
        margin-top: 8px!important;
        /* margin-right: 5px!important; */
    }
}
@media screen and (orientation:portrait)and (max-width:916px){
    .logo-name{
        font-size: 2vh!important;
    }
    .logo-img{
        width: 7vw!important;
        height: 2.5vh!important;
    }
    .resume-btn{
        width: 60px!important;
        height: 20px!important;
        font-size: 10px!important;
    }
    .social-profiles{
        display: none!important;
    }
}
@media screen and (orientation:landscape)and (max-width:916px){
    .logo-name{
        font-size: 2vw!important;
    }
    .logo-img{
        width: 3vw!important;
        height: 5vh!important;
    }
    .resume-btn{
        width: 60px!important;
        height: 20px!important;
        font-size: 10px!important;
    }
    .social-profile-btn{
        font-size: 15px!important;
        /* align-items: baseline!important; */
        margin-top: 8px!important;
    }
}
.header-main{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 7vh;
    width: 98vw;
    overflow: hidden;
    top: 0vh;

}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-left: 1vw;
}
.header-logo:hover>.logo-img{
    width: 3.5vw;
    height: 3.5vh;
}
.logo-img{
    width: 3vw;
    height: 3vh;
    transition: 0.3s;
}
.logo-name{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    margin: 0.25vw;
}
.header-functions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.resume{

}
.resume-btn{
    height: 5vh;
    width: 10vw;
    background-color: transparent;
    border: 3px solid black;
    font-size: large;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    padding: 0.5vh 2.5vw;
}
.resume-btn:hover{
    color: whitesmoke;
    background-color: black;
    font-size: larger;
}
.social-profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
}
.social-profile-btn{
    height: 5vh;
    width: 3vw;
    border-radius: 5vh;
    font-size: larger;
    margin: 0.25vw;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.3s;
}
.social-profile-btn:hover{
    font-size: xx-large;
}
.toggle-mode{

}
.toggle-mode-btn{
    border: none;
    outline: none;
    background-color: transparent;
    height: 5vh;
    width: 3vw;
    border-radius: 5vh;
    margin: 0.25vw;
    font-size: x-large;
    transition: 0.3s;
}
.toggle-mode-btn:hover{
    font-size: xx-large;
}