.App{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 98vw;
    /* overflow: hidden; */
}
.main-body{
    display: flex;
    /* align-items: center; */
    width: 98vw;
    /* overflow: hidden; */
    /* height: 92vh; */
}

.main-section{
    position: fixed;
    height: 93vh;
    left: 20%;
    width: 80%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* overflow-x: hidden; */
   
}
section{
    text-align: center;
    scroll-snap-align: start;
}